.navbar__container{
    background-color: #FECC4C;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 1px 15px 1px rgb(81 77 92 / 50%);
    .tabs{
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;
        
        .tab1{
            padding: 0 20px;
            padding-left: 0;
            color: white;
            cursor: pointer;
        }
        .tab2{
            display: flex;
            padding: 0 20px;
            align-items: center;
            cursor: pointer;
            .text{
                color: white;
                max-width: 100px;
                margin-right: 1rem;
            }
            .bottomSign{
                color: white;
            }
            
        }
        .last{
            padding-right: 0px !important;
        }

    }
}